.card {
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: var(--pink);
	border-radius: 10px;
	box-shadow: 0.5rem 0.5rem var(--pink10);
	display: flex;
	align-items: center;
	column-gap: 0.8rem;
	height: fit-content;
}

.card-title {
	font-size: 1rem;
	font-weight: 700;
	text-align: left;
}

.card-date {
	font-style: italic;
	text-align: right;
}
@media screen and (max-width: 324px) {
	.card {
		width: auto;
	}
}
@media screen and (min-width: 324px) and (max-width: 425px) {
	.card {
		width: 45vw;
	}
}
/* utility classes */
