@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Montserrat:wght@400;700&display=swap");
:root {
	--ff-brand: "Azeret Mono", monospace;
	--ff-normal: "Montserrat", sans-serif;

	--clr-primary: white;
	--clr-dark: #212121;
	--clr-accent: coral;
	color: var(--clr-primary);
}

* {
	box-sizing: border-box;
	font-family: inherit;
	color: inherit;
}
body {
	font-family: var(--ff-normal);
	background: var(--clr-dark);
	height: 100vh;
}
html,
body,
p,
ul {
	margin: 0;
	padding: 0;
}
